/* Responsive Navbar */
@media screen and (max-width: 800px) {


    
.sect0{

    /* background: url(images/frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    padding: 27% 11% 10% 0% ;

    width: 90vw;

}

.icns{

    width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    gap: 1%;

    margin: 0  auto;


}

.icns img{

    width: 15vw;
    margin: 45% 3% -8% 3% ;


}


.frame21{

    position: absolute;

    top: 4%;
    width: 100vw;
    height: 105vh;

    left: -12%;
    right: 1%;
    z-index: -1;

}




h1{

    font-size: 5vw;
    text-align: center;
    width: 80vw;
    margin: 28% auto 3% auto;


}

h2{

    font-size: 3vw;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 3% auto 1% auto ;

}

h3{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    width: 75%;
    
    margin: auto;

}


h4{

  
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 3vw;
    width: 80%;
    text-transform: uppercase;
    
    margin: 1% auto;
 

}



p{

    font-size: 3vw;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 77%;

}


.sect0d2{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    gap: 40%;

    margin: 2% 0 3% -15%;



}

.stamp{

    /* position: absolute;

    top: 93%;
    left: 25%; */
    width: 10vw;

}

.sign{

    /* position: absolute; */

    /* top: 95%;
    right: 25%; */

    width: 20vw;

}


.myeye{

    position: absolute;

    top: -2%;
    left: 20%;

    width: 55vw;


}






}